/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #1b1b1b;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Contrail One', cursive;
    color: #a90303;
}